.landingWelcomeBox {
	width: 71%;
	position: relative;
	height: 550px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 5px;
	float: right;
	margin-right: 5%;
	margin-top: 100px;
}

.landingWelcomeOptionsBanner {
	background: black;
	color: white;
	width: 100%;
	height: 150px;
	position: absolute;
	bottom: 0;
	opacity: 0.7;
}

.landingWelcomeImageBox {
	height: 550px;
	background-image: url('../../images/NonProfitPoverty.jpg');
}

.landingWelcomeOptionsTextBox {
	width: 25%;
	float: left;
}

.landingWelcomeOptionsHeadlineText{
	padding-left: 20px;
	padding-right: 20px;
}

.landingWelcomeOptionsSubText {
	padding-left: 20px;
	padding-right: 20px;
}

.statisticsHeaderText {
	clear: both;
	padding-top: 50px;
	text-align: center;
}