.employeeInfoWrapper {
	background: red;
	width: 71%;
	position: relative;
	height: 550px;
	float: right;
	margin-right: 5%;
	margin-top: 100px;
}

.employeeInfoTitle {
	margin-left: 4%;
	margin-top: 30px;
	margin-bottom: 35px;
}