.sidebarBox {
	border-style: solid;
	border-color: black;
	border-width: 2px 2px 0px 2px;
	width: 13%;
	margin-left: 5%;
	position: relative;
	margin-top: 100px;
	float: left;
}

.sidebarOptionText {
	padding-left: 8%;
	height: 20px;
}

.sidebarBox .sidebarOptionBox:hover {
  background: #87CEEB;
  color: white;
}

.sidebarOptionBox {
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: black;
	padding-top: 1px;
	height: 52px;
}

.sidebarBox .sidebarOptionBox:active {
  background: black;
  color: white;
}